<!DOCTYPE html>
{% load staticfiles %}
<meta charset="UTF-8">
<head>
	<title>A Model Auditory Neuron</title>
	<link rel='stylesheet' href='{% static 'auditory_rf.css' %}' type='text/css'>
</head>
<body>
	<h1>A Model Auditory Neuron</h1>
	<p>This page is designed to allow you to see how spectrotemporal receptive fields shape responses of auditory neurons.</p>
	<p>The colored squares below represent a spectrotemporal receptive field. The x-axis represents 5ms time bins from the current stimulus timepoint. The y-axis represents different spectral (frequency) bands. I have arbitrarily chosen frequencies that respond well to human speech. By clicking on one of the squares in the receptive field, the value will change between exciatory (red), inhibitory (blue), and neutral (grey).</p>
	<p>Once you have designed the receptive field to your liking, record or submit a sound file (.wav) and upload them both to the server. The server will estimate the response of this filter to the stimulus you record.</p>
	<ul>Challenges:
		<li>Get the neuron to respond to vowels (the letter A)</li>
		<li>Get the neuron to respond to stops  (the letter T)</li>
		<li>Get the neuron to respond to only male voices</li>
	</ul>
	<div id='rf_creator'>
		<div id='rf_title'>Model Receptive Field</div>
		<div id='rf_boxes'>
			<!--
			<div id='rf_box_test' class='rf_box rf_box_blue' style='min-width:20px;min-height:20px'></div>
			<div id='rf_box_test' class='rf_box rf_box_red' style='min-width:20px;min-height:20px;top:20px'></div>
			<div id='rf_box_test' class='rf_box rf_box_grey' style='min-width:20px;min-height:20px;left:20px'></div>
			-->
		</div>
		<div id='rf_buttons'>
			<form enctype="multipart/form-data">
				{% csrf_token %}
				<label>Select a sound file:</label><input type='file' name="wav_file"/>
				<input type='hidden' name='json_rf'/>
				<input id='upload_button' type='button' value='Upload sound file and receptive field'/>
				<input id='upload_button_default_T' type='button' value='Upload receptive field and use default T sound'/>
				<input id='upload_button_default_A' type='button' value='Upload receptive field and use default A sound'/>
			</form>
			<progress style='display:none;'></progress>
			</div>
		</div>
		<!--
		<div id='other_form'>
			<form target='/django/auditory_model_neuron/test' method='POST'>
				{% csrf_token %}
				<input type='text' value='try' name='try'/>
				<input id='test_upload_button' type='submit'>
			</form>
		</div>
		<div id='upload_target'></div>
		-->
	</div>
	<div id='respose_area'>
		<!-- plot of repsonse over time as p(spike) and poisson events -->
		<div id="specgram_target"></div>
		<div id="nlo_target"></div>
	</div>
		
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{% static 'auditory_rf.js' %}"></script>
	<script src="{% static 'd3.v3.min.js' %}"></script>
</body>
